/vendor
/public/db-manager
/public/storage
Homestead.yaml
Homestead.json
.env*
**/.idea
**/composer.lock
**/storage/bootmark-photos
**/storage/photos
**/.DS_STORE
**/oauth-public.key
**/oauth-private.key
**/storage/profile-photos
